<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css}" rel="stylesheet">
    <link th:href="@{/style.css}" rel="stylesheet">
    <title>UniFoodRank</title>
</head>
<body>
    <div class="container" id="container">
        <!-- Formulario de Registro -->
        <div class="form-container sign-up">
            <form th:action="@{/register}" method="post">
                <h1>Crea una cuenta</h1>
                <input type="text" name="nombre" placeholder="Nombre" required>
                <input type="text" name="apellido" placeholder="Apellido" required>
                <input type="email" name="email" placeholder="Correo" required>
                <input type="password" name="password" placeholder="Contraseña" required>
                <button type="submit">Registrarse</button>
            </form>
        </div>
        <!-- Formulario de Login -->
        <div class="form-container sign-in">
            <form th:action="@{/login}" method="post">
                <h1>Ingresar</h1>
                <input type="text" name="username" placeholder="Correo" required>
                <input type="password" name="password" placeholder="Contraseña" required>
                <a href="#">Olvidaste tu contraseña?</a>
                <button type="submit">Ingresar</button>
                <!-- Mensaje de error -->
                <div th:if="${param.error}" class="alert alert-danger">
                    Usuario o contraseña incorrectos
                </div>
                <div th:if="${param.logout}" class="alert alert-success">
                    Has cerrado sesión exitosamente
                </div>
            </form>
        </div>
        <!-- Panel de Toggle -->
        <div class="toggle-container">
            <div class="toggle">
                <div class="toggle-panel toggle-left">
                    <h1>Bienvenido de vuelta!</h1>
                    <p>Ingresa tus datos para comenzar!</p>
                    <button class="hidden" id="login">Ingresar</button>
                </div>
                <div class="toggle-panel toggle-right">
                    <h1>Hola, amigo!</h1>
                    <p>Registrate con tus datos para usar todas las características</p>
                    <button class="hidden" id="register">Registrarse</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Script para la animación del toggle -->
    <script th:src="@{/script.js}"></script>
</body>
</html>